@model MvcStok.Models.EntityFramework.kullanici
@{
    ViewBag.Title = "Sifre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-12"><h2>Sifre İşlemleri</h2></div>
<div class="col-12">

    @using (Html.BeginForm("Sifre", "Kullanici", FormMethod.Post))
    {
        @Html.PasswordFor(m => m.Parola, new { @class = "form-control", placeholder = "Yeni parolanızı Giriniz" })
        <br />
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.KullaniciAd)
        @Html.HiddenFor(m => m.YetkiId)
        <button type="submit" class="btn btn-primary btn-user btn-block">
            <i class="fa fa-user-secret fa-fw"></i>Kaydet
        </button>
    }
</div>